%hr
.columns.nook_list
  .column.is-2.is-hidden-touch
  .column.is-8.is-12-tablet
    -book_table=@books.each_slice(3).to_a
    -book_table.each do |books|
      .columns.is-desktop.book_ranking
        -books.each do |book|
          %article.media{style:"padding:5px;margin-top:10px"}
            %figure.media-left{href:"https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22"}
              %a{href:"/books/show/?identifier=#{book.identifier}"}
                %img{src:book.img_url||"https://bulma.io/images/placeholders/96x96.png",style:"margin:3px 0px"}
            .media-content
              .content
                %p
                  = book.title
                  = book.id
                =link_to "reviewsを見る",books_show_path(identifier:book.identifier),class:"button is-fullwidth",style:"margin:5px 0px"
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"
  .column.is-2.is-hidden-touch