.container
  -book_table=@books.each_slice(3).to_a
  -book_table.each do |books|
    .columns.is-desktop.book_ranking{style:"margin:0px"}
      -books.each do |book|
        .column
          %article.media{style:"padding:5px;margin-top:10px;"}
            %figure.media-left{href:"https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22"}
              .tags
                .tag{class:genre_tag_style(book)}
                  #{book.genre||"Unknown"}

              %a{href:"/books/show/#{book.identifier}"}
                %img{src:http2https(book.img_url)||"https://bulma.io/images/placeholders/96x96.png",style:"margin:3px 0px;max-width:135px"}
            .media-content
              .content{style:"margin-top:50px"}
                %a{href:"/books/show/#{book.identifier}"}
                  = book.title
                %p{style:"font-size:12px"}
                  = book&.description&.truncate(24)
               
              =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light",style:"max-width:170px"
          %hr{style:"margin-top:0px"}