.container{style:"padding:30px 15px"}
  .columns.is-desktop
    .column.is-1
    .column{style:"margin:14px 10px;box-shadow: 0 0 5px rgba(0,0,0,0.2);"}
      .div.content.about-this-site
        %p.subtitle.has-text-centered このサイトについて
        %hr
        %p
          参考書・教科書・実用書の書籍情報を見たり、書籍をレビューしたりできるサービスです。
        %p
          他のユーザーをフォローすることができます。フォローした人の最新のレビューはタイムラインに表示されます。
        %p
          他の人のレビューに「いいね」をつけることができます。いいねたくさんもらうと信頼できるユーザーとしてスペシャルユーザーにレベルアップします。
        %p スペシャルユーザーは名前の横に星マークがつきます。緑がレベル１．青がレベル２．赤がレベル３です。
        %p
          %a{href:"#new_reviews"}レビュー
          %span 
        %ul
          %li おすすめ度
          %li 価格
          %li わかりやすさ
          %li 信頼度
          %li おもしろさ
        %p で書籍を評価してください。
        %p
          あなたの読書記録やレビューは
          %a{href:"/users/show/#{current_user&.id}"} マイページ
          %span から確認できます。
          
      #ad-here-02{style:"padding:15px;"}
        here is ad
    .column
      .content.best-seller
        %p.subtitle.has-text-centered{style:"margin:20px 0px"}
          %strong
            rankings
        -best_seller = @popular_books[0]
        -if best_seller.present?
          .card{style:"padding-top:40px"}
            .card-image
              %figure.image.has-text-centered
                %img{src:best_seller.img_url||"https://bulma.io/images/placeholders/1280x960.png",style:"display:inline-block"}
            .card-content
              .media
                .media-content.has-text-centered
                  .subtitle.is-4{style:"font-size:20px"}
                    %p
                      = best_seller.title
              .links
                =link_to "reviewsを見る",books_show_path(identifier:best_seller.identifier),class:"button is-fullwidth",style:"margin:5px 0px"
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(best_seller.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"
    .column
      .content.good-sellers
        .space{style:"height:50px"}
        -popular_books=@popular_books.drop(1)
        -popular_books.each do |book|
          %article.media{style:"padding:5px;margin-top:10px"}
            %figure.media-left
              %img{src:book.img_url||"https://bulma.io/images/placeholders/96x96.png",style:"margin:3px 0px"}
            .media-content
              .content
                %p
                  = book.title
                  = book.id
                =link_to "reviewsを見る",books_show_path(identifier:book.identifier),class:"button is-fullwidth",style:"margin:5px 0px"
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"  
        %a.more{href:"books/index"} もっと見る            
    .column.is-1
  %hr
  %p.subtitle
    %strong
      お知らせ
  .columns.is-desktop
    .column.is-1
    .column
      .content.information
        %table.table.is-striped.is-fullwidth
          %thead
            %tr
              %th
              %th
          %tbody
            - @info= Notification.order(created_at: "DESC").limit(5)
            - @info.each do |notification|
              %tr
                %td.is-narrow
                  - if notification.is_pr
                    %p.tag.is-light 
                      PR
                  -else
                    %p.tag.is-success
                      =notification.created_at.strftime("%Y-%m-%d")
                %td
                  =link_to "#{notification.description}",notification.url
    .column.is-1         
  %hr
  %p.subtitle#new_reviews
    %strong
      新着レビュー
  =render :partial=>"partials/review_list"
  .has-text-right
    %a.more{href:"/review/index"} レビューをもっと見る

  %p.subtitle#new_books
    %strong
      新着書籍
  .has-text-right.book_list.on_top_page
    =render "partials/book_list"
    %a.more 新着書籍をもっと見る
    
    
  %hr
  .columns.is-desktop
    .column.is-1-desktop
    .column
      %p.has-text-centered
        %strong
          content1
      %hr
    .column
      %p.has-text-centered
        %strong
          content2
      %hr
    .column
      %p.has-text-centered
        %strong
          content3
      %hr
    .column
      %p.has-text-centered
        %strong
          content4
      %hr
    .column.is-1-desktop