.container{style:"padding:30px 15px"}
  #search-box.on_home
    =form_tag(search_path, method: :get,class:"field is-grouped is-expanded") do
      %p.control.keyword_field.is-expanded
        =text_field_tag :keyword, '', id:"book_search",class:"input",placeholder:"本のタイトルを入力してください"
      %p.control.submit_field
        %button.button#searchBtn{title:"search", type:"submit"} 検索する
  %hr
  .columns.is-desktop
    .column.is-1
    .column{style:"margin:14px 10px;box-shadow: 0 0 5px rgba(0,0,0,0.2);"}
      .div.content.about-this-site
        %p.has-text-centered #{service_name()}について
        %hr
        %p.catch_copy.has-text-centered
          アウトプットを
          %br
          みんなで共有しよう
        %p.description.has-text-centered
          #{service_name()}は専門書・ビジネス書・技術書の情報を見たり、本のメモを共有できるサービスです。
        %p.has-text-centered
          気になるユーザーをフォローして役に立つ情報を手に入れましょう。
        =link_to "今すぐ登録する(無料)",new_user_registration_path,class:"button is-fullwidth is-primary sign_up is-outlined"
        %br
        %p
          登録済みの方は...
        =link_to "ログイン",new_user_session_path,class:"button is-fullwidth is-info sign_in is-outlined"
        %hr
        %p BookI/Oはこんな使い方があります。
        %p 
          %b
            ① メモ機能
        %a.link{href:"#new_reviews"}最近投稿されたメモを見てみる
        %p
          %b ② タイムライン
        %a.link{href:"/timeline"} タイムラインでフォロー中のユーザーのメモをみる.
        %p 
          %b
            ③ 関連記事を探す
        %a.link{href:"#new_posts"} 最近追加された記事を見てみる
        %hr
        %p
          あなたの読書記録やメモは
          %a{href:"/users/show/#{current_user&.id}"} マイページ
          %span から確認できます。
    .column
      .content.best-seller
        %p.has-text-left.section_title{style:"margin:20px 0px;"}
          %strong
            メモ数ランキング
        -best_seller = @popular_books[0]
        -if best_seller.present?
          .card{style:"padding-top:20px;"}
            .genreAndKeyword{style:"padding:5px;"}
              .tags
                .ranking{style:"border-radius:10px;width:40px;height:40px;font-size:24px;background-color:gold;color:#FFF;text-align:center;margin:0px 10px;margin-bottom:10px;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2)"}
                  1
                .tag{class:genre_tag_style(best_seller)}
                  #{best_seller.genre||"Unknown"}
                
            .card-image
              %figure.image.has-text-centered
                %a{href:"/books/show/#{best_seller.identifier}"}
                  %img{src:http2https(best_seller.img_url)||"https://bulma.io/images/placeholders/1280x960.png",style:"display:inline-block;max-width:130px"}
                  
            .card-content
              .media
                .media-content.has-text-centered
                  .subtitle.is-4{style:"font-size:20px"}
                    %a{href:"/books/show/#{best_seller.identifier}"}
                      = best_seller.title
                    %p{style:"font-size:12px"}
                      = best_seller&.description&.truncate(36)
              .links
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(best_seller.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"
    .column
      .content.good-sellers
        .space{style:"height:50px"}
        -popular_books=@popular_books.drop(1)
        -popular_books.each.with_index do |book,idx|
          %article.media{style:"padding:5px;margin-top:10px"}
            %figure.media-left
              %a{href:"/books/show/#{book.identifier}"}
                %img{src:http2https(book.img_url)||"https://bulma.io/images/placeholders/96x96.png",style:"margin:3px 0px"}
            .media-content
              .genreAndKeyword{style:"padding:5px;"}
                .tags
                  .ranking{style:"border-radius:10px;width:32px;height:32px;font-size:20px;background-color:#808080;color:#FFF;text-align:center;margin-bottom:10px;margin-right:10px;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2)"}
                    =idx+2
                  .tag{class:genre_tag_style(book)}
                    #{book.genre||"Unknown"}
              .content
                %a{href:"/books/show/#{book.identifier}"}
                  = book.title
                %p{style:"font-size:12px"}
                  = book&.description&.truncate(36)
                

                .links{style:"margin-top:10px"}
                  =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"  
        %a.more{href:"books/index"} もっと見る            
    .column.is-1
  %hr
  .content
    %p.section_title
      %strong
        お知らせ
    .columns.is-desktop
      .column.is-1
      .column
        .content.information
          %table.table.is-striped.is-fullwidth
            %tbody
              - @info = Notification.order(created_at: "DESC").limit(5)
              - @info.each do |notification|
                %tr
                  %td.is-narrow
                    - if notification.is_pr
                      %p.tag.is-light 
                        PR
                    -else
                      %p.tag.is-success
                        =notification.created_at.strftime("%Y-%m-%d")
                  %td
                    =link_to "#{notification.description}",notification.url
      .column.is-1
  %hr
  .content
    %p.section_title
      %strong
        デザインのカテゴリで人気の本
    .columns.is-desktop
      - @popular_design_books.each.with_index do |book,idx|
        .column.is-4-desktop
          .card{style:"padding:10px;margin:30px"}
            .genreAndKeyword{style:"padding:5px;"}
              .tags
                .ranking{style:"border-radius:10px;width:40px;height:40px;font-size:24px;background-color:#f08080;color:#FFF;text-align:center;margin:0px 10px;margin-bottom:10px;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2)"}
                  =idx+1
            .img.has-text-centered
              %a{href:"/books/show/#{book.identifier}"}
                %img{src:http2https(book.img_url),style:"max-height:150px"}
            .content
              .has-text-centered{style:"margin:10px 0px"}
                %a{href:"/books/show/#{book.identifier}"}
                  = book.title
                %p{style:"font-size:12px"}
                  = book&.description&.truncate(36)
                
              .button_wrap.has-text-centered
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light",style:"width:170px"
    .has-text-right
      %a.more{href:"/books/index?genre=デザイン"} もっと見る
  .content
    %p.section_title
      %strong
        ビジネスのカテゴリで人気の本
    .columns.is-desktop
      - @popular_biz_books.each.with_index do |book,idx|
        .column.is-4-desktop
          .card{style:"padding:10px;margin:30px"}
            .genreAndKeyword{style:"padding:5px;"}
              .tags
                .ranking{style:"border-radius:10px;width:40px;height:40px;font-size:24px;background-color:#088aa1;color:#FFF;text-align:center;margin:0px 10px;margin-bottom:10px;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2)"}
                  =idx+1
            .img.has-text-centered
              %a{href:"/books/show/#{book.identifier}"}
                %img{src:http2https(book.img_url),style:"max-height:150px"}
            .content
              .has-text-centered{style:"margin:10px 0px"}
                %a{href:"/books/show/#{book.identifier}"}
                  = book.title
                %p{style:"font-size:12px"}
                  = book&.description&.truncate(36)
                
              .button_wrap.has-text-centered
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light",style:"width:170px"
    .has-text-right
      %a.more{href:"/books/index?genre=ビジネス"} もっと見る
  .content
    %p.section_title
      %strong
        テクノロジーのカテゴリで人気の本
    .columns.is-desktop
      - @popular_tech_books.each.with_index do |book,idx|
        .column.is-4-desktop
          .card{style:"padding:10px;margin:30px"}
            .genreAndKeyword{style:"padding:5px;"}
              .tags
                .ranking{style:"border-radius:10px;width:40px;height:40px;font-size:24px;background-color:#688bff;color:#FFF;text-align:center;margin:0px 10px;margin-bottom:10px;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2)"}
                  =idx+1
            .img.has-text-centered
              %a{href:"/books/show/#{book.identifier}"}
                %img{src:http2https(book.img_url),style:"max-height:150px"}
            .content
              .has-text-centered{style:"margin:10px 0px"}
                %a{href:"/books/show/#{book.identifier}"}
                  = book.title
                %p{style:"font-size:12px"}
                  = book&.description&.truncate(36)
              .button_wrap.has-text-centered
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light",style:"width:170px"
    .has-text-right
      %a.more{href:"/books/index?genre=テクノロジー"} もっと見る
  .content
    %p.section_title
      %strong
        アート/カルチャーのカテゴリで人気の本
    .columns.is-desktop
      - @popular_humanity_books.each.with_index do |book,idx|
        .column.is-4-desktop
          .card{style:"padding:10px;margin:30px"}
            .genreAndKeyword{style:"padding:5px;"}
              .tags
                .ranking{style:"border-radius:10px;width:40px;height:40px;font-size:24px;background-color:gold;color:#FFF;text-align:center;margin:0px 10px;margin-bottom:10px;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2)"}
                  =idx+1
            .img.has-text-centered
              %a{href:"/books/show/#{book.identifier}"}
                %img{src:http2https(book.img_url),style:"max-height:150px"}
            .content
              .has-text-centered{style:"margin:10px 0px"}
                %a{href:"/books/show/#{book.identifier}"}
                  = book.title
                %p{style:"font-size:12px"}
                  = book&.description&.truncate(36)
              .button_wrap.has-text-centered
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light",style:"width:170px"   
    .has-text-right
      %a.more{href:"/books/index?genre=アート/カルチャー"} もっと見る
  .content
    %p.section_title
      %strong
        アカデミックのカテゴリで人気の本
    .columns.is-desktop
      - @popular_academic_books.each.with_index do |book,idx|
        .column.is-4-desktop
          .card{style:"padding:10px;margin:30px"}
            .genreAndKeyword{style:"padding:5px;"}
              .tags
                .ranking{style:"border-radius:10px;width:40px;height:40px;font-size:24px;background-color:#9932cc;color:#FFF;text-align:center;margin:0px 10px;margin-bottom:10px;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2)"}
                  =idx+1
            .img.has-text-centered
              %a{href:"/books/show/#{book.identifier}"}
                %img{src:http2https(book.img_url),style:"max-height:150px"}
            .content
              .has-text-centered{style:"margin:10px 0px"}
                %a{href:"/books/show/#{book.identifier}"}
                  = book.title
                %p{style:"font-size:12px"}
                  = book&.description&.truncate(36)
              .button_wrap.has-text-centered
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light",style:"width:170px"     
    .has-text-right
      %a.more{href:"/books/index?genre=アカデミック"} もっと見る
  .content
    %p#new_reviews.section_title
      %strong
        新着メモ
    =render :partial=>"partials/review_list"
    .has-text-right
      %a.more{href:"/review/index"} メモをもっと見る
  %hr
  .content
    %p.subtitle#new_books.section_title
      %strong
        新着書籍
    .has-text-right.book_list.on_top_page
      =render "partials/book_list"
      %a.more{href:"/books/index?latest=latest"} 新着書籍をもっと見る
  %hr
  .content
    %p#new_posts.section_title
      %strong
        新着記事
    %p
      書籍に関連した外部サイトの新着記事を掲載しています。
    %hr
    .container      
      -@related_posts.each_slice(4) do |row|
        .columns.related_posts
          -row.each do |p|
            .column.card.has-text-centered
              %artcle.media
                %figure.media-left
                  %p
                    = p.created_at.strftime("%Y/%m/%d")
                  %a.image{href:"//#{p.url}"}
                    %img{src:http2https(p.book.img_url),style:"max-width:65%;"}
                .media-content
                  .content{style:"width:100%;word-wrap:break-all;"}
                    %p
                      %strong
                        Title
                    %a{href:"//#{p.url}",style:"width:100%;word-wrap:break-word!important;"}
                      =p.title.truncate(24)          
                  

      %hr
      .column.is-1-desktop