.container{style:"padding:30px 15px"}
  .columns.is-desktop
    .column.is-2
    .column{style:"margin:14px 10px;box-shadow: 0 0 5px rgba(0,0,0,0.2);"}
      .div{style:"height:400px;padding:15px"}
        %p.subtitle.has-text-centered このサイトについて
        %hr
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        %p 
          ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .column
      %p.subtitle.has-text-centered{style:"margin:20px 0px"} rankings
      -best_seller = @books[0]
      -if best_seller.present?
        .card{style:"padding-top:40px"}
          .card-image
            %figure.image.has-text-centered
              %img{src:best_seller.img_url||"https://bulma.io/images/placeholders/1280x960.png",style:"width:170px;display:inline-block"}
          .card-content
            .media
              .media-content
                .subtitle.is-4{style:"font-size:20px"}
                  = best_seller.title
            .content
              =link_to "reviewsを見る",books_show_path(identifier:best_seller.identifier),class:"button is-fullwidth",style:"margin:5px 0px"
              =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/s?rh=p_66%3A#{best_seller.identifier}",class:"button is-light is-fullwidth"
    .column
      .space{style:"height:50px"}
      -@books=@books.drop(1)
      -@books.each do |book|
        %article.media{style:"padding:5px;margin-top:10px"}
          %figure.media-left
            %p.image
              %img{src:book.img_url||"https://bulma.io/images/placeholders/96x96.png",style:"width:96px;margin:3px 0px"}
          .media-content
            .content
              %p
                = book.title
                = book.id
              =link_to "reviewsを見る",books_show_path(identifier:book.identifier),class:"button is-fullwidth",style:"margin:5px 0px"
              =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/s?rh=p_66%3A#{book.identifier}",class:"button is-light is-fullwidth"      
    .column.is-2
=render :partial=>"partials/book_list" 