.container{style:"padding:30px 15px"}
  #search-box.on_home
    =form_tag(search_path, method: :get,class:"field is-grouped is-expanded") do
      %p.control.keyword_field.is-expanded
        =text_field_tag :keyword, '', id:"book_search",class:"input",placeholder:"本のタイトルを入力してください"
      %p.control.submit_field
        %button.button#searchBtn{title:"search", type:"submit"} 検索する
  %hr
  .columns.is-desktop
    .column.is-1
    .column{style:"margin:14px 10px;box-shadow: 0 0 5px rgba(0,0,0,0.2);"}
      .div.content.about-this-site
        %p.subtitle.has-text-centered このサイトについて
        %hr
        %p.catch_copy.has-text-centered
          成長につながる本を
          %br
          みんなで共有しよう
        %p.description.has-text-centered
          %b
            Service Name は参考書・教科書・実用書の書籍情報を見たり、書籍をレビューしたりできるサービスです。
        %p.has-text-centered
          %b
            気になるユーザーをフォローして役に立つ本の情報を手に入れましょう。
        =link_to "今すぐ登録する(無料)",new_user_registration_path,class:"button is-fullwidth is-primary sign_up is-outlined"
        %br
        %p
          登録済みの方は...
        =link_to "ログイン",new_user_session_path,class:"button is-fullwidth is-info sign_in is-outlined"
        %hr
        %p This Service はこんな使い方があります。
        %p 
          %b
            ① レビュー機能
        %a.link{href:"#new_reviews"}最近投稿されたレビューを見てみる
        %p
          %b ② タイムライン
        %a.link{href:""} タイムラインでフォロー中のユーザーのレビューをみる.
        %p 
          %b
            ③ 関連記事を探す
        %a.link{href:"#new_posts"} 最近追加された記事を見てみる
        %hr
        %p
          あなたの読書記録やレビューは
          %a{href:"/users/show/#{current_user&.id}"} マイページ
          %span から確認できます。
    .column
      .content.best-seller
        %p.subtitle.has-text-left.section_title{style:"margin:20px 0px;"}
          %strong
            レビュー数ランキング
        -best_seller = @popular_books[0]
        -if best_seller.present?
          .card{style:"padding-top:40px"}
            .card-image
              %figure.image.has-text-centered
                %img{src:best_seller.img_url||"https://bulma.io/images/placeholders/1280x960.png",style:"display:inline-block"}
            .card-content
              .media
                .media-content.has-text-centered
                  .subtitle.is-4{style:"font-size:20px"}
                    %p
                      = best_seller.title
              .links
                =link_to "レビューを見る",books_show_path(identifier:best_seller.identifier),class:"button is-fullwidth",style:"margin:5px 0px"
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(best_seller.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"
    .column
      .content.good-sellers
        .space{style:"height:50px"}
        -popular_books=@popular_books.drop(1)
        -popular_books.each do |book|
          %article.media{style:"padding:5px;margin-top:10px"}
            %figure.media-left
              %img{src:book.img_url||"https://bulma.io/images/placeholders/96x96.png",style:"margin:3px 0px"}
            .media-content
              .content
                %p
                  = book.title
                  = book.id
                =link_to "レビューを見る",books_show_path(identifier:book.identifier),class:"button is-fullwidth",style:"margin:5px 0px"
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(book.identifier)}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"  
        %a.more{href:"books/index"} もっと見る            
    .column.is-1
  %hr
  .content
    %p.subtitle.section_title
      %strong
        お知らせ
    .columns.is-desktop
      .column.is-1
      .column
        .content.information
          %table.table.is-striped.is-fullwidth
            %tbody
              - @info= Notification.order(created_at: "DESC").limit(5)
              - @info.each do |notification|
                %tr
                  %td.is-narrow
                    - if notification.is_pr
                      %p.tag.is-light 
                        PR
                    -else
                      %p.tag.is-success
                        =notification.created_at.strftime("%Y-%m-%d")
                  %td
                    =link_to "#{notification.description}",notification.url
      .column.is-1         
  %hr
  .content
    %p.subtitle#new_reviews.section_title
      %strong
        新着レビュー
    =render :partial=>"partials/review_list"
    .has-text-right
      %a.more{href:"/review/index"} レビューをもっと見る
  %hr
  .content
    %p.subtitle#new_books.section_title
      %strong
        新着書籍
    .has-text-right.book_list.on_top_page
      =render "partials/book_list"
      %a.more{href:"/books/index?latest=latest"} 新着書籍をもっと見る
  %hr
  .content
    %p.subtitle#new_posts.section_title
      %strong
        新着記事
    %p
      書籍に関連した外部サイトの新着記事を掲載しています。
    %hr
    .container
      .columns.related_posts
        -@related_posts.each do |p|
          .column.card.has-text-centered
            %artcle.media
              %figure.media-left
                %p
                  = p.created_at.strftime("%Y/%m/%d")
                %a.image{href:"//#{p.url}"}
                  %img{src:p.book.img_url,style:"max-width:65%;"}
              .media-content
                .content{style:"width:100%;word-wrap:break-all;"}
                  %p
                    %strong
                      Title
                  %a{href:"//#{p.url}",style:"width:100%;word-wrap:break-word!important;"}
                    =p.title.truncate(24)          
                  

        %hr
      .column.is-1-desktop