.container{style:"padding:20px"}
  -reviewTable=@reviews.each_slice(3).to_a 
  -reviewTable.each do |row|
    .columns.is-desktop{style:"margin-bottom:40px"}
      -row.each do |review|
        .column.is-12-mobile.is-4-desktop
          .card.inTimeline
            .book
              .image
                %a{href:"/books/show/#{review.book.identifier}"}
                  %img{src:review.book.img_url,style:"max-width:130px"}
              .bookTitle.has-text-centered{style:"margin-bottom:5px"}
                %a{href:"/books/show/#{review.book.identifier}"}
                  =review.book.title
              .has-text-centered
                =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{review.book.identifier}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light"
            %hr
            
            .review     
              .content
                .wrap
                  %a{href:"/users/show/#{review.user.id}"}
                    %b
                      =review.user.name
                .wrap
                  %span
                    =review.content.truncate(48)
                  %span
                    %a{href:"/books/show/#{review.book.identifier}"}
                      ="....詳しく見る"

                  %p.has-text-right.postDate
                    =review.created_at.strftime("%Y/%m/%d")
  = paginate @reviews

       
      
      