
-set_meta_tags title:"#{@book_title}",description:"#{@book_authors.join(",")}が書いた#{@book_title}の詳細情報ページです.#{@book_title}のメモが#{@reviews&.count()}件掲載されています."
-if @reviews
  %script{onload:"paramsLoaded()"}
    var doReviewsExist = true
    var recommendData = #{@recommend}
    var priceData = #{@price}
    var understandableData=#{@understandable}
    var trustableData =#{@trustable}
    var interestingData = #{@interesting}
-else
  %script{onload:"paramsLoaded()"}
    var doReviewsExist =false
%dataset#reviewDataset{style:"display:none;",recommend:@reviewSummary[0],price:@reviewSummary[1],understandable:@reviewSummary[2],trustable:@reviewSummary[3],interesting:@reviewSummary[4]}

.container{style:"padding-top:40px"}
  %p.subtitle
    %strong
      基本情報
  .columns.is-desktop
    .column.is-2
    .column.is-3-desktop{style:"padding:20px;padding-right:5px!important;"}
      .card.about-this-book{style:"padding:20px;text-align:center;margin:20px 0px"}
        %p
          = @book_title
        .card-image{style:"margin:10px"}
          %img{src:"#{@book_img_urls["thumbnail"]}"}
        .card-content
          .content
            %p
              総合評価
            %p{style:"color:#ffcd56;font-size:32px"}
              ="★"*(@reviewSummary.inject(0.0){|r,i| r+=i }/@reviewSummary.size).floor()
            %p
              =(@reviewSummary.inject(0.0){|r,i| r+=i }/@reviewSummary.size).floor(3)
            %hr
            %span
              著者: 
            %span
              %strong
                - @book_authors.try(:each) do |name|
                  = name
            %hr
            %p
              = @book_description || "No Description"
            %hr
            =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(params[:identifier])}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"
      .ad.card
        %p.has-text-centered#ad-here-01
          
    .column.is-5-desktop{style:"padding:20px;padding-left:5px!important"}
      .content.reviews-of-this-book{style:"padding:20px;text-align:center;margin:20px 0px"}
        %p.subtitle #{@reviews&.count()}件のメモ
        -if @reviews.present?
          -@reviews.each.with_index do |review,idx|
            %article.media.card.review_card{style:"padding:15px;#{'display:none;' if idx >= 2}"} 
              -#%figure.media-left
                %p.image.is-64x64
                  %img{src:"https://bulma.io/images/placeholders/64x64.png"}
              %figure.media-left{style:"margin:15px; margin-top:0px"}
                %p{style:"font-size:12px;margin:0"} おすすめ度
                %p.recommend
                  ="★"*review.recommend
                  %span.star.gray
                    ="★"*(5 - review.recommend)
                %p{style:"font-size:12px;margin:0"} 価格
                %p.price
                  ="★"*review.price
                  %span.star.gray
                    ="★"*(5-review.price)
                %p{style:"font-size:12px;margin:0"} わかりやすさ
                %p.understandable
                  ="★"*review.understandable
                  %span.star.gray
                    ="★"*(5-review.understandable)
                %p{style:"font-size:12px;margin:0"} 信頼性
                %p.trustable
                  ="★"*review.trustable
                  %span.star.gray
                    ="★"*(5-review.trustable)
                %p{style:"font-size:12px;margin:0"} おもしろさ
                %p.interest
                  ="★"*review.interesting
                  %span.star.gray
                    ="★"*(5-review.interesting)
              .media-content
                %p
                  %a{href:"/users/show/#{review.user.id}"}
                    %strong
                      =review.user.name||"John Doe/Jane Doe"
                  %span.created_at{style:"float:right"} #{review.created_at.strftime("%Y/%m/%d")}
                %p.label{style:"font-size:14px;"} 良い点
                %p{style:"font-size:14px;"}
                  = review.good
                %p.label{style:"font-size:14px;"} 悪い点
                %p{style:"font-size:14px;"}
                  = review.bad
                %p.label{style:"font-size:14px;"} 要点メモ
                %p{style:"font-size:14px;"}
                  = review.content
                
          
          -if @reviews.length >= 3
            %hr.dotted
            %button.button.is-large#show_more
              メモをもっとみる
              
          -if user_signed_in?
            -unless current_user.books.find_by(identifier:params[:identifier]).present?
              %br
              %a.button#openModaal{href:"#target"} メモを投稿する
              .content.new_review#target{style:"margin:10px;display:none"}
                %hr
                %p
                  ="#{current_user.name || 'Jhon Doe/Jane Doe'}さんのメモを追加"
                = form_with model: @reviews,local: true,url: review_create_path do |form|
                  
                  .label
                    %label カテゴリ
                  .select
                    =select_tag :genre,options_for_select([["テクノロジー","テクノロジー"],["アカデミック","アカデミック"],["ビジネス","ビジネス"],["アート/カルチャー","アート/カルチャー"],["デザイン","デザイン"]])
                  
                  .label
                    %label
                      キーワード
                  = text_field_tag :keyword,"",class:"input",maxlength:"10",placeholder:"10文字以内"

                  .textarea_wrap
                    = form.text_area :content,class:"textarea",required:"required",placeholder:"わかりやすく要点をまとめてみよう"
                  .text_fields
                    =form.label "良い点"
                    =form.text_field :good,class:"input",placeholder:"良い点をまとめてみよう"
                    =form.label "悪い点"
                    =form.text_field :bad,class:"input",placeholder:"悪い点をまとめてみよう" 
                  %hr
                  %p わかりやすさ
                  .evaluation.stars
                    -(1..5).each do |i|
                      =form.radio_button :understandable,"#{6-i}",id:"star_#{6-i}",required:"required"
                      =form.label "★",value:"#{6-i}",for:"star_#{6-i}",class:"star"
                  %hr
                  %p 信頼性
                  .evaluation.stars.blue
                    -('a'..'e').each.with_index do |c,i|
                      =form.radio_button :trustable,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p おもしろさ
                  .evaluation.stars.pink
                    -('f'..'j').each.with_index do |c,i|
                      =form.radio_button :interesting,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p おすすめ度
                  .evaluation.stars.purple
                    -('k'..'o').each.with_index do |c,i|
                      =form.radio_button :recommend,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p 価格
                  .evaluation.stars.green
                    -('p'..'t').each.with_index do |c,i|
                      =form.radio_button :price,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  = hidden_field_tag :title, @book_title
                  =hidden_field_tag :description,""
                  = hidden_field_tag :identifier, params[:identifier]
                  = hidden_field_tag :img_url,@book_img_urls["thumbnail"]
                  %hr
                  .content.has-text-centered
                    = form.submit "メモを登録する",class:"button is-fullwidth is-medium-mobile"        
          -else
            =link_to "メモを登録するにはログインしてください",new_user_session_path
        -else
          %article{style:"padding:5px"}
            %p まだメモがありません
            -if user_signed_in?
              -unless current_user.books.find_by(identifier:params[:identifier]).present?
                %a.button#openModaal{href:"#target"} メモを登録する
                .content.new_review#target{style:"margin:10px;padding:20px 40px;display:none"}
                  %p.has-text-centered
                    %strong
                      ="#{current_user.name|| 'Jhon Doe/ Jane Doe'}さんのメモを追加"

                  
                  = form_with model: Review.new,local: true,url: review_create_path do |form|
                    -#unless Book.find_by(identifier:isbn13to10(params[:identifier]))
                    .label
                      %label
                        カテゴリ
                    .select
                      =select_tag :genre,options_for_select([["テクノロジー","テクノロジー"],["アカデミック","アカデミック"],["ビジネス","ビジネス"],["アート/カルチャー","アート/カルチャー"],["デザイン","デザイン"]])

                    .label
                      %label
                        キーワード
                    = text_field_tag :keyword,"",class:"input",maxlength:"10",placeholder:"10文字以内"
                    %label
                      メモ
                    .textarea_wrap
                      = form.text_area :content,class:"textarea",required:"required",placeholder:"わかりやすく要点をまとめてみよう"
                    .text_fields
                      =form.label "良い点"
                      =form.text_field :good,class:"input",placeholder:"良い点をまとめてみよう"
                      = form.label "悪い点"
                      =form.text_field  :bad,class:"input",placeholder:"悪い点をまとめてみよう" 
                    %hr
                    %p わかりやすさ
                    .evaluation.stars
                      -(1..5).each do |i|
                        =form.radio_button :understandable,"#{6-i}",id:"star_#{6-i}",required:"required"
                        =form.label :understandable,"★",value:"#{6-i}",for:"star_#{6-i}",class:"star"
                    %hr
                    %p 信頼性
                    .evaluation.stars.blue
                      -('a'..'e').each.with_index do |c,i|
                        =form.radio_button :trustable,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :trustable,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p おもしろさ
                    .evaluation.stars.pink
                      -('f'..'j').each.with_index do |c,i|
                        =form.radio_button :interesting,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :interesting,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p おすすめ度
                    .evaluation.stars.purple
                      -('k'..'o').each.with_index do |c,i|
                        =form.radio_button :recommend,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :recommend,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p 価格
                    .evaluation.stars.green
                      -('p'..'t').each.with_index do |c,i|
                        =form.radio_button :price,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :price,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    = hidden_field_tag :title, @book_title
                    = hidden_field_tag :img_url,@book_img_urls["thumbnail"]
                    = hidden_field_tag :identifier, params[:identifier]
                    %hr
                    = form.submit "メモを登録する",class:"button is-fullwidth is-medium-mobile"
            -else
              =link_to "メモを登録するにはログインしてください"
    .column.is-2
  %hr
  %p.subtitle
    %strong
      Analytics
  .columns.is-desktop
    .column.is-1-desktop
    .column
      %p
        メモ数分布
      .bar_chart_wrap
        .bar_chart
          %canvas#reviewBarChart
      .tags.are-medium
        %span.tag.is-info.for-barChart#recommend
          おすすめ度
        %span.tag.for-barChart#price
          価格
        %span.tag.for-barChart#understandable
          わかりやすさ
        %span.tag.for-barChart#trustable
          信頼度
        %span.tag.for-barChart#interesting
          おもしろさ
    .column
      %p
        評価平均
      .radar_chart_wrap
        .radar_chart
          %canvas#reviewDistrib
      .buttons
        
            
    .column.is-1-desktop
  %hr


  .container.is-desktop
    .has-text-left
      %p.subtitle
        %strong
          この本に関連するメディア
    .related_posts
      -@book&.related_posts&.each do |p|
        .realated_post
          %hr
          %span.tag.is-rounded
            %b
              =p.created_at.strftime("%Y/%m/%d")
          %a.is-link{href:"//#{p.url}"}
            %b
              #{p.title.truncate(48)}
          %span.tag.is-rounded
            %b
              Author: 
          %span #{p.author||"unknown"}
          %span.tag.is-rounded
            %b
              Link:
          %a.is-link{href:"//#{p.url}"} #{p.url.truncate(24)}
      
  %hr
  .container.is-desktop
    %p.subtitle
      %strong
        関連書籍

  %hr
  .columns.is-desktop
    .has-text-left
      %p.subtitle
        %strong
          
%script
  $("#openModaal").modaal({});
.reloader{onload:"reloadBarChart()"}