
-set_meta_tags title:"本の詳細情報",description:"本の詳細情報ページです。"
%script{onload:"paramsLoaded()"}
  var recommendData = #{@recommend}
  var priceData = #{@price}
  var understandableData=#{@understandable}
  var trustableData =#{@trustable}
  var interestingData = #{@interesting}
%dataset#reviewDataset{style:"display:none;",recommend:@reviewSummary[0],price:@reviewSummary[1],understandable:@reviewSummary[2],trustable:@reviewSummary[3],interesting:@reviewSummary[4]}

.container
  %p.subtitle
    %strong
      基本情報
  .columns.is-desktop
    .column.is-2
    .column.is-3-desktop{style:"padding:20px;padding-right:5px!important;"}
      .card.about-this-book{style:"padding:20px;text-align:center;margin:20px 0px"}
        %p.subtitle
          = @book_title
        .card-image{style:"margin:10px"}
          %img{src:"#{@book_img_urls["thumbnail"]}",style:"height:320px"}
        .card-content
          .content
            %span
              著者: 
            %span
              %strong
                - @book_authors.try(:each) do |name|
                  = name
            %hr
            %p{style:"font-size:13px"}
              = @book_description || "No Description"
            %hr
            =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(params[:identifier])}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"
      .ad.card
        %p.has-text-centered#ad-here-01
          here is ad
    .column.is-5-desktop{style:"padding:20px;padding-left:5px!important"}
      .content.reviews-of-this-book{style:"padding:20px;text-align:center;margin:20px 0px"}
        %p.subtitle レビュー
        -if @reviews.present?
          -@reviews.each do |review|
            %article.media.card{style:"padding:15px"} 
              %figure.media-left
                %p.image.is-64x64
                  %img{src:"https://bulma.io/images/placeholders/64x64.png"}
              .media-content
                %p
                  %a{href:"/users/show/#{review.user.id}"}
                    %strong
                      =review.user.name||"John Doe/Jane Doe"
                %p
                  = review.content
          -if user_signed_in?
            -unless current_user.books.find_by(identifier:params[:identifier]).present?
              .content.new_review{style:"margin:10px"}
                %hr
                %p
                  ="#{current_user.name || 'Jhon Doe/Jane Doe'}さんのレビューを追加"
                = form_with model: @reviews,local: true,url: review_create_path do |form|
                  .textarea_wrap
                    = form.text_area :content,class:"textarea",required:"required"
                  %hr
                  %p.subtitle わかりやすさ
                  .evaluation.stars
                    -(1..5).each do |i|
                      =form.radio_button :understandable,"#{6-i}",id:"star_#{6-i}",required:"required"
                      =form.label "★",value:"#{6-i}",for:"star_#{6-i}",class:"star"
                  %hr
                  %p.subtitle 信頼性
                  .evaluation.stars.blue
                    -('a'..'e').each.with_index do |c,i|
                      =form.radio_button :trustable,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p.subtitle おもしろさ
                  .evaluation.stars.pink
                    -('f'..'j').each.with_index do |c,i|
                      =form.radio_button :interesting,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p.subtitle おすすめ度
                  .evaluation.stars.purple
                    -('k'..'o').each.with_index do |c,i|
                      =form.radio_button :recommend,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p.subtitle 価格
                  .evaluation.stars.green
                    -('p'..'t').each.with_index do |c,i|
                      =form.radio_button :price,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  = hidden_field_tag :title, @book_title
                  = hidden_field_tag :identifier, params[:identifier]
                  = hidden_field_tag :img_url,@book_img_urls["thumbnail"]
                  %hr
                  .content.has-text-centered
                    = form.submit :subit,class:"button is-fullwidth is-medium-mobile"        
          -else
            =link_to "レビューを投稿するにはログインしてください",new_user_session_path
        -else
          %article{style:"padding:5px"}
            %p まだレビューがありません
            -if user_signed_in?
              -unless current_user.books.find_by(identifier:params[:identifier]).present?
                .content.new_review{style:"margin:10px"}
                  %p.has-text-centered
                    %strong
                      ="#{current_user.name|| 'Jhon Doe/ Jane Doe'}さんのレビューを追加"
                  
                  = form_with model: Review.new,local: true,url: review_create_path do |form|
                    .textarea_wrap
                      = form.text_area :content,class:"textarea",required:"required"
                    %hr
                    %p.subtitle わかりやすさ
                    .evaluation.stars
                      -(1..5).each do |i|
                        =form.radio_button :understandable,"#{6-i}",id:"star_#{6-i}",required:"required"
                        =form.label :understandable,"★",value:"#{6-i}",for:"star_#{6-i}",class:"star"
                    %hr
                    %p.subtitle 信頼性
                    .evaluation.stars.blue
                      -('a'..'e').each.with_index do |c,i|
                        =form.radio_button :trustable,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :trustable,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p.subtitle おもしろさ
                    .evaluation.stars.pink
                      -('f'..'j').each.with_index do |c,i|
                        =form.radio_button :interesting,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :interesting,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p.subtitle おすすめ度
                    .evaluation.stars.purple
                      -('k'..'o').each.with_index do |c,i|
                        =form.radio_button :recommend,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :recommend,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p.subtitle 価格
                    .evaluation.stars.green
                      -('p'..'t').each.with_index do |c,i|
                        =form.radio_button :price,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :price,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    = hidden_field_tag :title, @book_title
                    = hidden_field_tag :img_url,@book_img_urls["thumbnail"]
                    = hidden_field_tag :identifier, params[:identifier]
                    %hr
                    = form.submit :subit,class:"button is-fullwidth is-medium-mobile"
            -else
              =link_to "レビューを投稿するにはログインしてください"
    .column.is-2
  %hr
  %p.subtitle
    %strong
      Analytics
  .columns.is-desktop
    .column.is-1-desktop
    .column
      %p
        レビュー数分布
      .bar_chart_wrap
        .bar_chart
          %canvas#reviewBarChart
      .tags.are-medium
        %span.tag.is-info.for-barChart#recommend
          おすすめ度
        %span.tag.for-barChart#price
          価格
        %span.tag.for-barChart#understandable
          わかりやすさ
        %span.tag.for-barChart#trustable
          信頼度
        %span.tag.for-barChart#interesting
          おもしろさ
    .column
      %p
        評価平均
      .radar_chart_wrap
        .radar_chart
          %canvas#reviewDistrib
      .buttons
        
            
    .column.is-1-desktop
  %hr
  .columns.is-desktop
    %p.subtitle
      %strong
        関連書籍
.reloader{onload:"reloadBarChart()"}