
-set_meta_tags title:"#{@target_book.title}",description:"#{@target_book.authors.join(",")}著、「#{@target_book.title}」の詳細情報ページ.#{@target_book.title}の総合評価は#{(@reviewSummary.inject(0.0){|r,i| r+=i }/@reviewSummary.size).floor(3)}点です.要約メモが#{@reviews&.count()}件あります."
-if @reviews
  %script{onload:"paramsLoaded()"}
    var doReviewsExist = true
    var recommendData = #{@recommend}
    var priceData = #{@price}
    var understandableData=#{@understandable}
    var trustableData =#{@trustable}
    var interestingData = #{@interesting}
-else
  %script{onload:"paramsLoaded()"}
    var doReviewsExist =false
%dataset#reviewDataset{style:"display:none;",recommend:@reviewSummary[0],price:@reviewSummary[1],understandable:@reviewSummary[2],trustable:@reviewSummary[3],interesting:@reviewSummary[4]}

.container{style:"padding-top:30px"}
  .columns.is-desktop{style:"margin:0px"}
    .column.is-2
    .column.is-3-desktop
      .card.about-this-book{style:"padding:20px;text-align:center;margin:20px 0px"}
        %p
          = @target_book.title
        .card-image
          %img{src:"#{@target_book.image_urls["thumbnail"]}",style:"max-width:160px;margin:10px 0px"}
        .card-content
          .content
            %p
              総合評価
            %p{style:"color:#ffcd56;font-size:32px"}
              ="★"*(@reviewSummary.inject(0.0){|r,i| r+=i }/@reviewSummary.size).floor()
            %p
              =(@reviewSummary.inject(0.0){|r,i| r+=i }/@reviewSummary.size).floor(3)
            %hr
            %span
              著者: 
            %span
              %strong
                - @target_book.authors.each do |name|
                  = name
            %hr
            
            = simple_format(@target_book.description,style:"font-size:14px")
            %hr
            %p
              ページ数 #{@target_book.page_count}
            %p
              出版日 #{@target_book.published_at}
            =link_to "Amazonで詳細を見る","https://www.amazon.co.jp/exec/obidos/ASIN/#{isbn13to10(params[:identifier])}/xhateblo11041-22?tag=xhateblo11041-22",class:"button is-light is-fullwidth"
      .ad.card
        %p.has-text-centered#ad-here-01
          
    .column.is-5-desktop{style:"padding:20px;padding-left:5px!important"}
      .content.reviews-of-this-book{style:"padding:20px;text-align:center;margin:20px 0px"}
        %p
          %b
            #{@reviews&.count()}件のメモ
        -if @reviews.present?
          -@reviews.each.with_index do |review,idx|
            %article.media.card.review_card{style:"padding:15px;#{'display:none;' if idx >= 2}"} 
              %figure.media-left{style:"margin:15px; margin-top:0px"}
                %span.created_at{style:"font-size:12px;margin:0"} #{review.created_at.strftime("%Y/%m/%d")}
                %hr
                = render partial: "partials/review_stars",locals: {review: review}
              .media-content
                %p
                  %a{href:"/users/show/#{review.user.id}"}
                    %strong
                      =review.user.name||"John Doe/Jane Doe"
                  //%a{style:"float:right"} good
                  //%span{style:"float:right"} good.count()
                  %hr
                    
                  
                %p.label{style:"font-size:14px;"} 良い点
                
                -if current_user&.id == review.user.id
                  = form_for(review,url: review_update_path(review), html: {method: :put},remote: true) do |f|
                    = f.hidden_field :id, value: review.id
                    = f.text_area :good
                    
                    =f.submit "更新",class:"button"
                -else
                  %p{style:"font-size:14px;"}
                    = review.good
                %p.label{style:"font-size:14px;"} 悪い点
                -if current_user&.id == review.user.id
                  = form_for(review,url: review_update_path(review), html: {method: :put},remote: true) do |f|
                    = f.hidden_field :id, value: review.id
                    = f.text_area :bad
                    
                    =f.submit "更新",class:"button"
                -else
                  %p{style:"font-size:14px;"}
                    = review.bad
                %p.label{style:"font-size:14px;"} 要点メモ
                -if current_user&.id == review.user.id
                  = form_for(review,url: review_update_path(review), html: {method: :put},remote: true) do |f|
                    = f.hidden_field :id, value: review.id
                    = f.text_area :content,class: "textarea"                    
                    =f.submit "更新",class:"button"

                -else
                  =simple_format(review.content,style:"font-size:14px")
                = render partial: "partials/twitter_share",locals: {review:review,book_title: @target_book.title}
                
          
          -if @reviews.length >= 3
            %hr.dotted
            %button.button.is-large#show_more
              メモをもっとみる
              
          -if user_signed_in?
            -unless current_user.books.find_by(identifier:params[:identifier]).present?
              %br
              %a.button#openModaal{href:"#target"} メモを投稿する
              .content.new_review#target{style:"margin:10px;display:none"}
                %hr
                %p
                  ="#{current_user.name || 'Jhon Doe/Jane Doe'}さんのメモを追加"
                = form_with model: @reviews,local: true,url: review_create_path do |form|
                  -unless Book.find_by(identifier:isbn13to10(params[:identifier]))
                    .label
                      %label カテゴリ
                    .select
                      =select_tag :genre,options_for_select([["テクノロジー","テクノロジー"],["アカデミック","アカデミック"],["ビジネス","ビジネス"],["アート/カルチャー","アート/カルチャー"],["デザイン","デザイン"]])
                  .textarea_wrap
                    = form.text_area :content,class:"textarea",required:"required",maxlength:"200",placeholder:"わかりやすく要点をまとめてみよう"
                  .text_fields
                    =form.label "良い点"
                    =form.text_field :good,class:"input",placeholder:"良い点をまとめてみよう",maxlength:"50"
                    =form.label "悪い点"
                    =form.text_field :bad,class:"input",placeholder:"悪い点をまとめてみよう" ,maxlength:"50"
                  %hr
                  %p わかりやすさ
                  .evaluation.stars
                    -(1..5).each do |i|
                      =form.radio_button :understandable,"#{6-i}",id:"star_#{6-i}",required:"required"
                      =form.label "★",value:"#{6-i}",for:"star_#{6-i}",class:"star"
                  %hr
                  %p 信頼性
                  .evaluation.stars.blue
                    -('a'..'e').each.with_index do |c,i|
                      =form.radio_button :trustable,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p おもしろさ
                  .evaluation.stars.pink
                    -('f'..'j').each.with_index do |c,i|
                      =form.radio_button :interesting,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p おすすめ度
                  .evaluation.stars.purple
                    -('k'..'o').each.with_index do |c,i|
                      =form.radio_button :recommend,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  %hr
                  %p 価格
                  .evaluation.stars.green
                    -('p'..'t').each.with_index do |c,i|
                      =form.radio_button :price,"#{5-i}",id:"star_#{c}",required:"required"
                      =form.label "★",value:"#{5-i}",for:"star_#{c}",class:"star"
                  = hidden_field_tag :title, @target_book.title
                  = hidden_field_tag :description,@target_book.description
                  = hidden_field_tag :identifier, params[:identifier]
                  = hidden_field_tag :img_url,@target_book.image_urls["thumbnail"]
                  %hr
                  .content.has-text-centered
                    = form.submit "メモを登録する",class:"button is-fullwidth is-medium-mobile"        
          -else
            =link_to "メモを登録するにはログインしてください",new_user_session_path
        -else
          %article{style:"padding:5px"}
            %p まだメモがありません
            -if user_signed_in?
              -unless current_user.books.find_by(identifier:params[:identifier]).present?
                %a.button#openModaal{href:"#target"} メモを登録する
                .content.new_review#target{style:"margin:10px;padding:20px 40px;display:none"}
                  %p.has-text-centered
                    %strong
                      ="#{current_user.name|| 'Jhon Doe/ Jane Doe'}さんのメモを追加"

                  
                  = form_with model: Review.new,local: true,url: review_create_path do |form|
                    -unless Book.find_by(identifier:isbn13to10(params[:identifier]))
                      .label
                        %label
                          カテゴリ
                      .select
                        =select_tag :genre,options_for_select([["テクノロジー","テクノロジー"],["アカデミック","アカデミック"],["ビジネス","ビジネス"],["アート/カルチャー","アート/カルチャー"],["デザイン","デザイン"]])

                    
                    
                    
                    .textarea_wrap
                      = form.text_area :content,class:"textarea",required:"required",placeholder:"わかりやすく要点をまとめてみよう",maxlength:"200"
                    .text_fields
                      =form.label "良い点"
                      =form.text_field :good,class:"input",placeholder:"良い点をまとめてみよう",maxlength:"50"
                      = form.label "悪い点"
                      =form.text_field  :bad,class:"input",placeholder:"悪い点をまとめてみよう",maxlength:"50"
                    %hr
                    %p わかりやすさ
                    .evaluation.stars
                      -(1..5).each do |i|
                        =form.radio_button :understandable,"#{6-i}",id:"star_#{6-i}",required:"required"
                        =form.label :understandable,"★",value:"#{6-i}",for:"star_#{6-i}",class:"star"
                    %hr
                    %p 信頼性
                    .evaluation.stars.blue
                      -('a'..'e').each.with_index do |c,i|
                        =form.radio_button :trustable,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :trustable,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p おもしろさ
                    .evaluation.stars.pink
                      -('f'..'j').each.with_index do |c,i|
                        =form.radio_button :interesting,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :interesting,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p おすすめ度
                    .evaluation.stars.purple
                      -('k'..'o').each.with_index do |c,i|
                        =form.radio_button :recommend,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :recommend,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    %hr
                    %p 価格
                    .evaluation.stars.green
                      -('p'..'t').each.with_index do |c,i|
                        =form.radio_button :price,"#{5-i}",id:"star_#{c}",required:"required"
                        =form.label :price,"★",value:"#{5-i}",for:"star_#{c}",class:"star"
                    = hidden_field_tag :title, @target_book.title
                    = hidden_field_tag :description, @target_book.description
                    = hidden_field_tag :img_url,@target_book.image_urls["thumbnail"]
                    = hidden_field_tag :identifier, params[:identifier]
                    %hr
                    = form.submit "メモを登録する",class:"button is-fullwidth is-medium-mobile"
            -else
              =link_to "会員登録してメモを追加する"
    .column.is-2
  %hr
  %p.subtitle
    %strong
      Analytics
  .columns.is-desktop{style:"margin:0px"}
    .column.is-1-desktop
    .column
      %p
        メモ数分布
      .bar_chart_wrap
        .bar_chart
          %canvas#reviewBarChart
      .tags.are-medium
        %span.tag.is-info.for-barChart#recommend{style:"cursor:pointer"}
          おすすめ度
        %span.tag.for-barChart#price{style:"cursor:pointer"}
          価格
        %span.tag.for-barChart#understandable{style:"cursor:pointer"}
          わかりやすさ
        %span.tag.for-barChart#trustable{style:"cursor:pointer"}
          信頼度
        %span.tag.for-barChart#interesting{style:"cursor:pointer"}
          おもしろさ
    .column
      %p
        評価平均
      .radar_chart_wrap
        .radar_chart
          %canvas#reviewDistrib
      .buttons
        
            
    .column.is-1-desktop
  %hr


  .container.is-desktop
    .has-text-left
      %p.subtitle
        %strong
          この本に関連するメディア
    .related_posts
      -@related_posts.each do |p|
        .realated_post
          %hr
          %span.tag.is-rounded
            %b
              =p.created_at.strftime("%Y/%m/%d")
          %a.is-link{href:"//#{p.url}"}
            %b
              #{p.title.truncate(48)}
          %span.tag.is-rounded
            %b
              Author: 
          %span #{p.author||"unknown"}
          %span.tag.is-rounded
            %b
              Link:
          %a.is-link{href:"//#{p.url}"} #{p.url.truncate(24)}
      
  %hr
  .container.is-desktop
    %p.subtitle
      %strong
        関連書籍
    .columns.is-desktop{style:"margin:auto 0px"}
      -@related_books.each do |book|
        .column.is-4-desktop
          %article.media{style:"padding:5px;margin-top:10px"}
            %figure.media-left
              %a{href:"/books/show/#{book.identifier}"}
                %img{src:http2https(book.img_url)||"https://bulma.io/images/placeholders/96x96.png",style:"margin:3px 0px;max-width:150px",alt:book.title}
            .media-content
              .genreAndKeyword{style:"padding:5px;"}
                .tags
                  .tag{class:genre_tag_style(book)}
                    #{book.genre||"Unknown"}
              .content
                %a{href:"/books/show/#{book.identifier}"}
                  = book.title
                %p{style:"font-size:12px"}
                  = book&.description&.truncate(36)||"no description"
  %hr
  .columns.is-desktop
    .has-text-left
      %p.subtitle
        %strong
          
%script
  $("#openModaal").modaal({});
.reloader{onload:"reloadBarChart()"}