.columns
  .column.is-4
  .column.is-4
    %p.subtitle
      Edit #{resource_name.to_s.humanize}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email,class:"label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",class:"input"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password,class:"label"
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "new-password",class:"input"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            characters minimum
      .field
        = f.label :password_confirmation,class:"label"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",class:"input"
      .field
        = f.label :current_password,class:"label"
        %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "current-password",class:"input"
      .actions
        = f.submit "Update",class:"button is-primary is-outlined"
    %p.subtitle Cancel my account
    %p
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"button is-danger is-outlined"}
    = link_to "Back", root_path,class:"button"
  .column.is-4