.columns.is-desktop
  .column.is-4
  .column.is-4-desktop.is-12-tablet.is-12-mobile
    %p.subtitle
      %br
      登録情報編集
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email,class:"label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",class:"input"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password,class:"label"
        %i (変更しない場合は、空白にしてください。)
        %br/
        = f.password_field :password, autocomplete: "new-password",class:"input"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            文字以上
      .field
        = f.label :password_confirmation,class:"label"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",class:"input"
      .field
        = f.label :current_password,class:"label"
        %i (変更する場合、現在のパスワードを入力してください。)
        %br/
        = f.password_field :current_password, autocomplete: "current-password",class:"input"
      .actions.has-text-centered
        = f.submit "更新する",class:"button is-primary is-outlined"
    %hr
    %p.subtitle 退会
    %p.has-text-centered
      退会しますか? 
    
    .has-text-centered
      %br
      #{button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"button is-danger is-outlined"}
      %br
      = link_to "戻る", root_path,class:"button"
  .column.is-4